/* CalendarScreen.css */
.calendar-screen {
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.calendar-table th,
.calendar-table td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.calendar-table td:hover {
    background-color: #f0f0f0;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.month-navigation h2 {
    font-size: 24px;
}

.month-navigation button {
    background-color: #189ab4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.summary-statistics {
    margin-top: 20px;
}

.summary-statistics h3 {
    font-size: 20px;
}

.summary-statistics p {
    font-size: 16px;
    margin: 5px 0;
}
