/* Container for the Daily View screen */
.daily-view-screen {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #189ab4;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.back-button {
    padding: 10px;
    font-size: medium;
    min-width: 200px;
    background-color: white;
    color: #189ab4;
    border: none;
    border-radius: 4px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0f7b8e;
    color: white;
}

.daily-view-content {
    width: 100%;
    max-width: 600px;
    background: white;
    color: #189ab4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.daily-view-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.emoji {
    font-size: 100px;
    margin: 20px 0;
}

.notes {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

.intensity {
    font-size: 18px;
    color: #189ab4;
    margin-top: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.edit-button,
.delete-button {
    margin-right: 10px;
    padding: 10px;
    font-size: medium;
    min-width: 150px;
    background-color: #189ab4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.delete-button {
    background-color: #DB1F48;
}

.edit-button:hover {
    background-color: #0f7b8e;
}

.delete-button:hover {
    background-color: #E7625F;
}
