.help-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #189ab4;
    flex-direction: column;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 20px;
}

/* Container for the help content */
.help-container .container {
    padding: 50px;
}

/* Text styling */
.help-container .bottom {
    margin: auto;
    margin-top: 5px;
    font-size: small;
    width: 308px;
    text-align: start;
}

.help-container .forgotPassword {
    float: right;
}

.help-container .passLine {
    margin-left: 8px;
}

.help-container .conPassLine {
    margin-right: 96px;
}

.help-container .onboardingButton {
    border-radius: 50%;
    height: 100px;
    width: 350px;
}

.help-container .logoStyle {
    width: 192px;
}

.help-container .inputBoxes {
    padding-bottom: 25px;
}

.help-container .button {
    padding: 7px;
    font-size: large;
    width: 308px;
    font-family: 'Poppins';
    background-color: white;
    color: #189ab4;
    border: none;
}

.help-container .custom-button:hover {
    background-color: #189ab4;
    color: white;
}

/* Underlines for the headers */
.help-container .custom-header {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    color: white;
}

.help-container .custom-header:hover {
    border-bottom-color: white;
}

/* Text inside the FAQ section */
.help-container h2, .help-container h3, .help-container p {
    color: white;
}

/* FAQ items */
.help-container ul li {
    color: white;
}