body {
    background-color: #189ab4;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    padding: 50px; 
}

.bottom {
    margin: auto;
    margin-top: 5px;
    font-size: small;
    width: 308px;
    text-align: start;
}

.forgotPassword {
    float: right;
}

.passLine {
    margin-left: 8px;
}

.conPassLine {
    margin-right: 96px;
}

.onboardingButton {
    border-radius: 50%;
    height: 100px;
    width: 350px;
}

.logoStyle {
    width: 192px;
}

.inputBoxes {
    padding-bottom: 25px;
}

.emailBox {
    background-image: url(../assets/email-icon.png);
    background-repeat: no-repeat;
    background-size: 25px, 25px;
    background-position: 9px 6px; 
}

.userBox {
    background-image: url(../assets/user-icon.png);
    background-repeat: no-repeat;
    background-size: 25px, 25px;
    background-position: 9px 5px; 
}

.passBox {
    background-image: url(../assets/password-icon.png);
    background-repeat: no-repeat;
    background-size: 25px, 25px;
    background-position: 9px 5px; 
}

/* Blue border around Home Page button */
.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #189ab4; /* Matching navbar color */
    background-color: transparent;
    color: #189ab4; /* Matching navbar color for text */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
    background-color: #189ab4; /* Fill the button with color on hover */
    color: white; /* Text changes to white on hover */
}

/* Underlines for the headers */
.custom-header {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #189ab4; /* Matching navbar color for underline */
    padding-bottom: 5px;
}

.custom-header:hover {
    border-bottom-color: #189ab4; /* Keep the same color on hover */
}