button {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 7px;
    font-size: large;
    border: none;
    transition: background-color 0.3s;
}

#history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #189ab4;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    flex-direction: column;
}

#history-container h1 {
    margin-bottom: 20px;
}

#month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;
}

#month-navigation h2 {
    font-size: 24px;
}

#month-navigation button {
    width: 150px;
    border-radius: 4px;
    background-color: white;
    color: #189ab4;
}

.dark #month-navigation button {
    color: #0F3D4B;
}

#home-button {
    width: 308px;
    border-radius: 4px;
    background-color: white;
    color: #189ab4;
}

.dark #home-button {
    color: #0F3D4B;
}

#month-navigation button:hover {
    background-color: #0f7b8e;
    color: white;
}

#home-button:hover {
    background-color: #0f7b8e;
    color: white;
}

#history-container.light {
    background-color: #189ab4 !important; /* This will remain blue for light mode */
    color: white !important;
}

/* Dark Mode */
#history-container.dark {
    background-color: #0F3D4B !important; /* Override the blue background with dark mode */
    color: white !important;
}