html {
    background-color: #189ab4;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html.light,
body.light {
    background-color: #f0f0f0;
}

html.dark,
body.dark {
    background-color: #222 !important;
    color: #ddd !important;
}

#container.light {
    background-color: #e0f7fa; /* Light background color */
    color: #000;
}

#container.dark {
    background-color: #333 !important; /* Dark background color */
    color: #ddd !important;
}

textarea.light {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
}

textarea.dark {
    background-color: #555 !important;
    color: #fff !important;
    border: 1px solid #777 !important;
}

/* Button and Element Styles */
#submit.light {
    filter: invert(0); /* Regular Color for Light Theme */
}

#submit.dark {
    filter: invert(1) !important; /* Invert the colors for Dark Theme */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

textarea {
    background: transparent;
    border-color: white;
    color: white;
    resize: none;
    width: 100%;
}

textarea::placeholder {
    color: #D3D3D3;
}

#container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

#row, #subRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#subRow {
    height: 125px;
}

.column {
    padding: 5px;
    flex: 1;
    max-width: 150px;
    height: auto;
}

.subColumn {
    padding: 5px;
    flex: 1;
    max-width: 125px;
    height: auto;
}

#flexContainer {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#log {
    width: 90%;
    max-width: 775px;
    min-height: 150px;
    background-image: url(../assets/camera-icon.png);
    background-repeat: no-repeat;
    background-size: 32px, 32px;
    background-position: calc(100% - 20px) center;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#submit {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #row, #subRow {
        flex-direction: column;
    }

    .column, .subColumn {
        width: 60%;
    }

    #log {
        width: 100%;
        background-position: right 10px center;
    }
}