/* General Styles for Settings Screen */
.settings-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

/* Light Theme */
.settings-screen.light {
    background-color: #189ab4; /* Blue background for light mode */
    color: black;
}

/* Dark Theme */
.settings-screen.dark {
    background-color: #333;
    color: white;
}

/* Settings Container */
.settings-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    text-align: left;
}

/* Light Theme for Container */
.settings-container.light {
    background-color: #189ab4; /* Same as light screen background */
    color: white;
}

/* Dark Theme for Container */
.settings-container.dark {
    background-color: #444;
    color: white;
}

.settings-header {
    text-align: center;
    margin-bottom: 20px;
    color: inherit;
}

.setting-group {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.setting-group h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: inherit;
}

.options-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.options-group label {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;
}

.options-group select {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    background-color: white;
    color: black;
}

/* Toggle button styles for reminder frequency */
.toggle-buttons-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.toggle-button {
    padding: 10px 20px;
    font-size: medium;
    border: none;
    color: #189ab4;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.toggle-button.selected {
    background-color: #0f7b8e;
    color: white;
}

.toggle-button:hover {
    background-color: #0f7b8e;
    color: white;
}

.privacy-buttons-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.privacy-button {
    padding: 10px;
    font-size: medium;
    flex: 1;
    min-width: 150px;
    background-color: white;
    color: #189ab4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.privacy-button:hover {
    background-color: #0f7b8e;
    color: white;
}

#delete-button {
    padding: 10px;
    font-size: medium;
    flex: 1;
    min-width: 150px;
    background-color: white;
    color: #DB1F48;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#delete-button:hover {
    background-color: #E7625F;
    color: white;
}

.center-button {
    text-align: center;
    margin-top: 30px;
}

.home-button {
    padding: 7px;
    font-size: large;
    width: 100%;
    font-family: 'Poppins';
    background-color: white;
    color: #189ab4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #0f7b8e;
    color: white;
}

/* Dark mode styling */
body.dark {
    background-color: #333;
    color: white;
}

body.light {
    background-color: #189ab4;
    color: black;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #0f7b8e;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded switch */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
