/* Styles for Settings Screen */

.settings-screen {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.setting-group {
    margin: 20px 0;
}

.setting-group h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.options-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reduced space between the options */
    flex-wrap: nowrap; /* Ensure the options stay on the same line */
    align-items: center;
}

.options-group label, .options-group select {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0; /* Remove extra margin */
}

.options-group select {
    padding: 5px;
    font-size: 16px;
}

.privacy-button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #189ab4;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px; /* Smaller margin */
}

.privacy-button:hover {
    background-color: #107d93;
}

.delete-button {
    background-color: #ff6347; /* Red for delete */
}

.delete-button:hover {
    background-color: #d9534f;
}

.home-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #189ab4;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: #107d93;
}

/* Dark mode styling */
body.dark {
    background-color: #333;
    color: white;
}

body.light {
    background-color: white;
    color: black;
}
