/* Styles for Settings Screen */

.settings-screen {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.setting-group {
    margin: 20px 0;
}

.setting-group h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.options-group {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the options */
    flex-wrap: wrap; /* Allow options to wrap if screen is small */
}

.options-group label {
    font-size: 16px;
}

.options-group select {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.privacy-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #189ab4;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.privacy-button:hover {
    background-color: #107d93;
}

.delete-button {
    background-color: #ff6347; /* Red for delete */
}

.delete-button:hover {
    background-color: #d9534f;
}

.home-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #189ab4;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: #107d93;
}
