/* Styles for Settings Screen */

.settings-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #189ab4;
    color: white;
    text-align: center;
}

.settings-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.settings-header {
    text-align: center;
}

.setting-group {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.setting-group h2 {
    margin: 0;
    font-size: 18px;
    width: 150px;
}

.options-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.options-group label {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.options-group input[type="checkbox"],
.options-group input[type="radio"] {
    margin-right: 5px;
}

.options-group select {
    padding: 5px;
    font-size: 16px;
}

.privacy-buttons-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.privacy-button {
    padding: 7px;
    font-size: medium;
    width: 150px;
    background-color: white;
    color: #189ab4;
    border: none;
}

.delete-button {
    padding: 7px;
    font-size: medium;
    width: 150px;
    background-color: #DB1F48;
    color: white;
    border: none;
}

.center-button {
    text-align: center;
    margin-top: 30px;
}

.home-button {
    padding: 7px;
    font-size: large;
    width: 308px;
    font-family: 'Poppins';
    background-color: white;
    color: #189ab4;
    border: none;
}

/* Dark mode styling */
body.dark {
    background-color: #333;
    color: white;
}

body.light {
    background-color: white;
    color: black;
}
