#signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #189ab4;
    flex-direction: column;
}

#logo {
    width: 192px;
    margin-bottom: 30px;
}

#inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    padding-bottom: 50px;
}

input {
    height: 35px;
    width: 308px;
    background: transparent;
    border-color: white;
    color: white;
    font-family: 'Poppins';
}

#userBox, #passBox {
    background-repeat: no-repeat;
    background-size: 25px, 25px;
    background-position: 8px 2px;
    padding-left: 40px;
    font-family: 'Poppins';
}

#userBox {
    background-image: url(../assets/user-icon.png);
}

#passBox {
    background-image: url(../assets/password-icon.png);
}

#button {
    padding: 7px;
    font-size: large;
    width: 308px;
    font-family: 'Poppins';
    background-color: white;
    color: #189ab4;
    border: none;
}

#bottomText {
    font-family: 'Poppins';
    color: white;
    margin: auto;
    margin-top: 5px;
    font-size: small;
    width: 308px;
    text-align: start;
}

#link {
    color: white !important;
    font-family: 'Poppins';
    text-decoration: none;
}

::placeholder {
    color: white;
    font-family: 'Poppins';
}

.dark #signup-container {
    background-color: #0F3D4B !important;
}

.dark input {
    border-color: white !important;
    color: white !important;
}

.dark #userBox, .dark #passBox {
    background-repeat: no-repeat;
    background-size: 25px, 25px;
    background-position: 8px 3px;
    padding-left: 40px;
    background-color: transparent !important;
}

.dark #button {
    background-color: white;
    color: #0F3D4B;
}

.dark #bottomText, .dark #link {
    color: white !important;
}

.dark ::placeholder {
    color: #d3d3d3 !important;
}