.custom-navbar {
    background-color: #189ab4;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-navbar .navbar-brand:hover {
    color: white;
}

.custom-navbar .navbar-brand:focus {
    color: white;
}

.custom-navbar .nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: white !important;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: white;
}

.custom-navbar .nav-link.active {
    color: white;
}

.custom-navbar .nav-link:focus {
    color:white;
}

.custom-navbar .offcanvas {
    background-color: #189ab4;
}

.custom-navbar .offcanvas-title {
    color: white;
}

.hamburger-button {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: none !important;
    box-shadow: none !important;
    padding: 10px 15px;
    outline: none;
    transition: background-color 0.3s ease;
}

.hamburger-button .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.hamburger-button:hover,
.hamburger-button:focus {
    outline: none;
    box-shadow: none;
}

.navbar-label {
    font-family: 'Poppins', sans-serif;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.justify-content-end {
    font-family: 'Poppins', sans-serif;
}

.custom-navbar.light {
    background-color: #f8f9fa; /* Light background */
    color: #000; /* Black text */
}

.custom-navbar.dark {
    background-color: #333 !important; /* Dark background */
    color: #fff !important; /* White text */
}

.custom-navbar.dark .navbar-label,
.custom-navbar.dark .custom-link {
    color: #fff;
}

.custom-navbar.dark .navbar-label,
.custom-navbar.dark .custom-link {
    color: #fff;
}

.custom-navbar.dark .hamburger-button {
    background-color: #555; /* Darker button */
}

