nav {
    background-color: #189ab4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

a:hover {
    color: #61dafb;
}

.active a {
    color: #61dafb;
}