.custom-navbar {
    background-color: #189ab4;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-navbar .navbar-brand:hover {
    color: white;
}

.custom-navbar .navbar-brand:focus {
    color: white;
}

.custom-navbar .nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: white !important;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: white;
}

.custom-navbar .nav-link.active {
    color: white;
}

.custom-navbar .nav-link:focus {
    color:white;
}

.custom-navbar .offcanvas {
    background-color: #189ab4;
}

.custom-navbar .offcanvas-title {
    color: white;
}

.navbar-label {
    font-family: 'Poppins', sans-serif;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.justify-content-end {
    font-family: 'Poppins', sans-serif;
}